### 11. 별 찍기 - 12

```
# 3 입력 시
  *
 **
***
 **
  *
```
https://www.acmicpc.net/problem/2522

In [17]:
N = int(input())
if 1 <= N <= 100:
  for i in range(1, N+1):
    print(('*'*i).rjust(N))
  for j in range(1, N):
   print(('*'*(N-j)).rjust(N))

3
  *
 **
***
 **
  *

## 12. 별 찍기 - 13

```
# 입력 3
*
**
***
**
*
```



https://www.acmicpc.net/problem/2523

In [13]:
N = int(input())
if 1 <= N <= 100:
  for i in range(1, N+1):
    print(('*'*i))
  for j in range(1, N):
   print('*'*(N-j))

3
*
**
***
**
*

### 13.별 찍기 - 15

https://www.acmicpc.net/problem/10990

In [23]:
N = int(input())
if 1 <= N <= 100:
  for i in range(1, N+1):
    if i == 1:
      print(' '*(N-i) + '*')
    else:
      print(' '*(N-i) + '*' + ' '*(2*i-3) + '*')

5
    *
   * *
  *   *
 *     *
*       *

### 14. 별 찍기 - 16

```
# 입력 4
   *
  * *
 * * *
* * * *
```



https://www.acmicpc.net/problem/10991

In [1]:
N = int(input())
if 1 <= N <= 100:
  for i in range(1, N+1):
    repeat = ' '+'*'
    print(' '*(N-i) +'*'+ repeat*(i-1))

4
   *
  * *
 * * *
* * * *

### 15. 별 찍기 - 17

```
# 입력 4
   *
  * *
 *   *
*******
```



https://www.acmicpc.net/problem/10992

In [12]:
N = int(input())
if 1 <= N <= 100:
  print(' '*(N-1) + '*')
  for i in range(1,N-1):
    print(' '*(N-i-1)+ '*' + ' '*(2*i-1) + '*')
  print('*'*(2*N-1))

1
*
*

- 이 코드로 진행시에 1에서 문제가 되었다

In [20]:
N = int(input())
if 1 <= N <= 100:
  for i in range(1,N):
    if i ==1:
      print(' '*(N-1) + '*')
    else:
      print(' '*(N-i)+ '*' + ' '*(2*i-3) + '*')
  print('*'*(2*N-1))

4
   *
  * *
 *   *
*******