### 61. 입력된 정수 두 개를 비트단위로 or 연산한 후 그 결과를 정수로 출력해보자.
비트단위(bitwise) 연산자 |(or, vertical bar, 버티컬바)를 사용하면 된다.

** | 은 파이프(pipe)연산자라고도 불리는 경우가 있다.

** 비트단위(bitwise) 연산자는,
~(bitwise not), &(bitwise and), |(bitwise or), ^(bitwise xor),
<<(bitwise left shift), >>(bitwise right shift)
가 있다.

예를 들어 3과 5가 입력되었을 때를 살펴보면
3      : 00000000 00000000 00000000 00000011
5      : 00000000 00000000 00000000 00000101
3 | 5 : 00000000 00000000 00000000 00000111
이 된다.

비트단위 or 연산은 둘 중 하나라도 1인 자리를 1로 만들어주는 것과 같다.

이러한 비트단위 연산은 빠른 계산이 필요한 그래픽처리에서도 효과적으로 사용된다.

https://codeup.kr/problem.php?id=6061

In [ ]:
a,b= input().split(' ')
print(int(a)|int(b))

3 5
7

### 62. 입력된 정수 두 개를 비트단위로 xor 연산한 후 그 결과를 정수로 출력해보자.
비트단위(bitwise) 연산자 ^(xor, circumflex/caret, 서컴플렉스/카릿)를 사용하면 된다

https://codeup.kr/problem.php?id=6062

In [ ]:
a,b = input().split(' ')
print(int(a)^int(b))

3 5
6

### 63. 입력된 두 정수(a, b) 중 큰 값을 출력하는 프로그램을 작성해보자.
단, 3항 연산을 사용한다.

예시)

a, b = input().split()
a = int(a)  #변수 a에 저장되어있는 값을 정수로 바꾸어 다시 변수 a에 저장
b = int(b)
c = (a if (a>=b) else b)
print(int(c))

참고)

3개의 요소로 이루어지는 3항 연산은
"x if C else y" 의 형태로 작성이 된다.
- C : True 또는 False 를 평가할 조건식(conditional expression) 또는 값
- x : C의 평가 결과가 True 일 때 사용할 값
- y : C의 평가 결과가 True 가 아닐 때 사용할 값

조건식 또는 값이 True 이면 x 값이 사용되고, True가 아니면 y 값이 사용되도록 하는 코드이다.

https://codeup.kr/problem.php?id=6063

In [ ]:
a,b = input().split(' ')
a = int(a)
b = int(b)
if a > b:
  print(a)
elif a < b:
  print(b)

123 456
456

### 64. 입력된 세 정수 a, b, c 중 가장 작은 값을 출력하는 프로그램을 작성해보자.
단, 3항 연산을 사용한다.

참고) 

프로그래밍언어 소스코드 작성시 모든 요소들은
"순서에 따라 한 단계씩 실행"
"미리 정해진 순서에 따라 하나씩 연산 수행"
"그 때까지 연산된 결과를 이용해 다시 순서에 따라 하나씩 연산"
...
등의 원리가 적용된다.

따라서 3항 연산을 중첩해(괄호로 묶는 등..) 이용하면 여러 값들을 순서대로 비교해 가장 큰/작은 값을 계산할 수 있다.

**예를 들어**

(a if a>b else b) if ((a if a>b else b)>c) else c
와 같은 계산식은 a, b, c 의 값 중 가장 큰 값으로 계산된다.

잘 이해가 되지 않는다면 어떤 순서에 따라 계산될 지 생각해보고
여러 가지 연산자가 동시에 사용된 식이 있을 때, 어떤 우선순위에 따라 순서대로 계산이 되는지 찾아보도록 한다.
“연산자 우선순위”를 검색하면 우선순위와 결합방향이 나온다.
예를 들어 변수에 어떤 값을 대입하는 대입(assign) 연산자 = 의 우선순위는 가장 낮고, 오른쪽에서 왼쪽의 결합방향을 가진다.

** 3항 연산은 자주 사용되지는 않지만,
복잡한 계산식이나 조건 처리, 비교 구조를 간단히 표현할 수 있게 해준다.

https://codeup.kr/problem.php?id=6064

In [ ]:
a,b,c = input().split(' ')
a = int(a)
b = int(b)
c = int(c)
print((a if a<b else b) if ((a if a<b else b)<c) else c)

10 3 7
3

### 65. 3개의 정수(a, b, c)가 입력되었을 때, 짝수만 출력해보자.

예시)

a, b, c = input().split()

a = int(a)
b = int(b)
c = int(c)

https://codeup.kr/problem.php?id=6065

In [ ]:
a,b,c = input().split(' ')
a=int(a)
b=int(b)
c=int(c)
for i in (a,b,c):
  if i%2==0:
    print(i)

1 2 4
2
4

### 66. 3개의 정수(a, b, c)가 입력되었을 때, 짝(even)/홀(odd)을 출력해보자.

예시)

if a%2==0 :\
  print("even")\
else :\
  print("odd") 

https://codeup.kr/problem.php?id=6066

In [ ]:
a,b,c = input().split(' ')
a=int(a)
b=int(b)
c=int(c)
for i in (a,b,c):
  if i%2==0:
    print("even")
  else:
    print("odd")

1 2 3
odd
even
odd

### 67.0이 아닌 정수 1개가 입력되었을 때, 음(-)/양(+)과 짝(even)/홀(odd)을 구분해 분류해보자.
음수이면서 짝수이면, A\
음수이면서 홀수이면, B\
양수이면서 짝수이면, C\
양수이면서 홀수이면, D
를 출력한다.

예시)

if n<0 :
  if n%2==0 :\
    print('A')      #주의 : 변수 A와 문자열 'A' / "A" 는 의미가 완전히 다르다. 
  else :\
    print('B')\
else :\
  if n%2==0 :\
    print('C')\
  else :\
    print('D')


https://codeup.kr/problem.php?id=6067

In [ ]:
a = int(input())
if a < 0 and a%2==0:
  print("A")
elif a<0 and a%2==1:
  print("B")
elif a>0 and a%2==0:
  print("C")
elif a>0 and a%2==1:
  print("D")

-2147483648
A

### 68. 점수(정수, 0 ~ 100)를 입력받아 평가를 출력해보자.

평가 기준)

점수 범위 : 평가
 90 ~ 100 : A
 70 ~   89 : B
 40 ~   69 : C
   0 ~   39 : D
로 평가되어야 한다.

https://codeup.kr/problem.php?id=6068

In [ ]:
a = int(input())
if -1 < a < 101:
  if 89 < a < 101:
    print("A")
  elif 69 < a < 90:
    print("B")
  elif 39 < a < 70:
    print("C")
  elif -1 < a < 40:
    print("D")

73
B

### 69. 평가를 문자(A, B, C, D, ...)로 입력받아 내용을 다르게 출력해보자.

평가 내용)

평가 : 내용\
A : best!!!\
B : good!!\
C : run!\
D : slowly~\
나머지 문자들 : what?

https://codeup.kr/problem.php?id=6069

In [ ]:
a = str(input())
if a == 'A':
  print("best!!!")
elif a == 'B':
  print("good!!")
elif a == 'C':
  print('run!')
elif a == 'D':
  print('slowly~')
else:
  print("what?")

A
best!!!

### 70.(질문) 월이 입력될 때 계절 이름이 출력되도록 해보자.

월 : 계절 이름\
12, 1, 2 : winter\
  3, 4, 5 : spring\
  6, 7, 8 : summer\
  9, 10, 11 : fall

https://codeup.kr/problem.php?id=6070

In [ ]:
## 이렇게는 왜 안 될까?
month = int(input())
if month == 12 or 1 or 2:
  print('winter')
elif month == 3 or 4 or 5:
  print('spring')
elif month == 6 or 7 or 8:
  print('summer')
elif month == 9 or 10 or 11:
  print('fall')

In [ ]:
month = int(input())

if month in range(3,6):
  print('spring')
elif month in range(6,9):
  print('summer')
elif month in range(9,12):
  print('fall')
else:
  print('winter')

8
summer

### 71.임의의 정수가 줄을 바꿔 계속 입력된다.-2147483648 ~ +2147483647, 단 개수는 알 수 없다.

0이 아니면 입력된 정수를 출력하고, 0이 입력되면 출력을 중단해보자.

예시
...
n = 1      #처음 조건 검사를 통과하기 위해 0 아닌 값을 임의로 저장
while n!=0 :
  n = int(input())
  if n!=0 :
    print(n)

https://codeup.kr/problem.php?id=6071

In [ ]:
a = int(input())
while a !=0:
  print(a)
  a = int(input())
  if a ==0:
    break

1
1
2
2
3
3
4
4
0

### 72. 정수(1 ~ 100) 1개가 입력되었을 때 카운트다운을 출력해보자.

while 조건식 :\
  ...\
  ...\
반복 실행구조를 사용해 보자.

https://codeup.kr/problem.php?id=6072

In [ ]:
a = int(input())
if 0 < a < 101:
  while a !=0:
    print(a)
    a -= 1
    if a == 0:
      break

3
3
2
1

### 73. 정수(1 ~ 100) 1개가 입력되었을 때 카운트다운을 출력해보자.

while 조건식 :\
반복 실행구조를 사용해 보자.

https://codeup.kr/problem.php?id=6073

In [ ]:
a = int(input())
if 0 < a < 101:
  while a !=0:
    print(a-1)
    a -= 1
    if a == 0:
      break

5
4
3
2
1
0

### 74. 영문 소문자(a ~ z) 1개가 입력되었을 때,a부터 그 문자까지의 알파벳을 순서대로 출력해보자.

예시)

c = ord(input())\
t = ord('a')\
while t<=c :\
  print(chr(t), end=' ')\
  t += 1

  https://codeup.kr/problem.php?id=6074

In [ ]:
alpabet = ord(input())  # 유니코드 형태
a = ord('a') # 알파벳 a의 유니코드 형태
for i in range(a, alpabet+1):
  out = chr(i)
  print(out, end=' ')

f
a b c d e f

### 75. 정수(0 ~ 100) 1개를 입력받아 0부터 그 수까지 순서대로 출력해보자.

https://codeup.kr/problem.php?id=6075

In [ ]:
a = int(input())
if -1 < a < 101:
  for i in range(0,a+1):
    print(i)

### 76. 정수(0 ~ 100) 1개를 입력받아 0부터 그 수까지 순서대로 출력해보자.

https://codeup.kr/problem.php?id=6076

In [ ]:
a = int(input())
if -1 < a < 101:
  for i in range(0,a+1):
    print(i)

4
0
1
2
3
4

### 77. 정수(1 ~ 100) 1개를 입력받아 1부터 그 수까지 짝수의 합을 구해보자.

https://codeup.kr/problem.php?id=6077

In [ ]:
a = int(input())
even = 0
for i in range(0,a+1):
  if i%2==0:
     even += i
print(even)

8
20

### 78. 영문 소문자 'q'가 입력될 때까지 입력한 문자를 계속 출력하는 프로그램을 작성해보자.

https://codeup.kr/problem.php?id=6078

In [ ]:
alp = str(input())

while alp != 'q':
  print(alp)
  alp = str(input())
print('q')

a
a
b
b
g
g
t
t
e
e
q
q

### 79. 1, 2, 3 ... 을 계속 더해 나갈 때,그 합이 입력한 정수(0 ~ 1000)보다 같거나 작을 때까지만 계속 더하는 프로그램을 작성해보자.

즉, 1부터 n까지 정수를 계속 더해 나간다고 할 때,
어디까지 더해야 입력한 수보다 같거나 커지는 지를 알아보고자하는 문제이다.

https://codeup.kr/problem.php?id=6079

In [ ]:
# sum이 입력된 정수(input)와 같거나 커졌을 때 마지막에 더한 정수를 출력한다.

num = int(input())
sum = 1
n = 1

while sum < num:
  n += 1
  sum += n
  

print(n)

55
10

### 80. 1부터 n까지, 1부터 m까지 숫자가 적힌 서로 다른 주사위 2개를 던졌을 때, 나올 수 있는 모든 경우를 출력해보자.

나올 수 있는 주사위의 숫자를 한 세트씩 줄을 바꿔 모두 출력한다.
첫 번째 수는 n, 두 번째 수는 m으로 고정해 1부터 오름차순 순서로 출력하도록 한다.


```
# 예시
for i in range(1, n+1) :
  for j in range(1, m+1) :
    print(i, j)
```

https://codeup.kr/problem.php?id=6080

In [ ]:
n, m = input().split(' ')

for i in range(1, int(n)+1):
  for j in range(1, int(m)+1):
    print (i, j)

2 3
1 1
1 2
1 3
2 1
2 2
2 3

### 81. 16진수(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F)를 배운 영일이는 16진수끼리 곱하는 16진수 구구단?에 대해서 궁금해졌다. A, B, C, D, E, F 중 하나가 입력될 때, 1부터 F까지 곱한 16진수 구구단의 내용을 출력해보자. (단, A ~ F 까지만 입력된다.)

```
# 예시
  print('%X'%n, '*%X'%i, '=%X'%(n*i), sep='')
```
참고) 

print('%X'%n)    #n에 저장되어있는 값을 16진수(hexadecimal) 형태로 출력

작은 따옴표 2개를 사용해서 print(..., sep='') 으로 출력하면, 공백없이 모두 붙여 출력된다.

작은 따옴표 2개 '' 또는 큰 따옴표 2개 "" 는 아무 문자도 없는 빈문자열(empty string)을 의미한다.

https://codeup.kr/problem.php?id=6081

In [ ]:
n = str(input())
hex_digits = [0,1,2,4,5,6,7,8,9,'A','B','C','D','E','F']

for hex_digit in hex_digits:
  mul_i = 0
  if hex_digit == int(hex_digit):
    mul_i = n*hex_digit
  elif hex_digit == str(hex_digit):
    mul_i = n*ord(hex_digit)
  print(n, '*', hex_digit, '=', '%X'%mul_i, sep='')

In [28]:
hex_digits = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F']

# prompt the user to input a hex digit
hex_digit = input().upper()

# check if the input is a valid hex digit
if hex_digit in hex_digits:
    n = hex_digits.index(hex_digit)
    for i in hex_digits[1:]:
        mul_i = hex_digits.index(i) * n
        print(hex_digit, '*', i, '=', '%X'%mul_i, sep='')
else:
    print("Invalid input.")

B
B*1=B
B*2=16
B*3=21
B*4=2C
B*5=37
B*6=42
B*7=4D
B*8=58
B*9=63
B*A=6E
B*B=79
B*C=84
B*D=8F
B*E=9A
B*F=A5

### 82. 친구들과 함께 3 6 9 게임을 하던 영일이는 잦은 실수 때문에 계속해서 벌칙을 받게 되었다.3 6 9 게임의 왕이 되기 위한 369 마스터 프로그램을 작성해 보자.

** 3 6 9 게임은?
여러 사람이 순서를 정한 후, 순서대로 수를 부르는 게임이다.
만약 3, 6, 9 가 들어간 수를 자신이 불러야 하는 상황이라면, 수를 부르는 대신 "박수(X)" 를 쳐야 한다.
33과 같이 3,6,9가 두 번 들어간 수 일때, "짝짝"과 같이 박수를 두 번 치는 형태도 있다. 

```
# 참고 
for i in range(1, n+1) :\
  if i%10==3 :\
    print("X", end=' ')
```
- 출력 후 공백문자(빈칸, ' ')로 끝냄

https://codeup.kr/problem.php?id=6082

In [ ]:
# 이 방법으로는 사이트에서는 오류 처리나는데 그 이유를 모르겠다
def three_six_nine(num):
  num = int(input())
  if 0 < num < 30:
    for i in range(1, num+1):
      if (i%10==3) | (i%10==6) | (i%10==9):
        print('X', end=" ")
      else:
        print(i, end=" ")
  else:
    three_six_nine(num)

three_six_nine(num)

41
30
29
1 2 X 4 5 X 7 8 X 10 11 12 X 14 15 X 17 18 X 20 21 22 X 24 25 X 27 28 X

In [ ]:
num = int(input())
if 0 < num < 30:
  for i in range(1, num+1):
    if (i%10==3) | (i%10==6) | (i%10==9):
      print('X', end=' ')
    else:
      print(i, end=' ')

29
1 2 X 4 5 X 7 8 X 10 11 12 X 14 15 X 17 18 X 20 21 22 X 24 25 X 27 28 X

# Reference

- 16진수 계산 https://mathphysics.tistory.com/577