## Code Up 파이썬 기초 문제 1~24번 문제 풀이

### 1.print()를 이용해 다음 단어를 출력하시오

Hello

https://codeup.kr/problem.php?id=6001

In [ ]:
print("Hello")

Hello

### 2. 공백()을 포함한 문장을 출력한다. 다음 문장을 출력해보자

Hello World
(대소문자에 주의)

https://codeup.kr/problem.php?id=6002

In [ ]:
print("Hello World")
print("Hello", "World")

Hello World
Hello World

### 3. 이번에는 줄을 바꿔 출력하는 출력문을 연습해보자. 다음과 같이 줄을 바꿔 출력해야 한다.

Hello\
World

https://codeup.kr/problem.php?id=6003

In [ ]:
print("Hello")
print("World")
print("-"*30)
print("Hello\nWorld")

Hello
World
------------------------------
Hello
World

### 4. 작은 따옴표(')가 들어있는 출력문 연습을 해보자. 다음 문장을 출력하시오

'Hello'

https://codeup.kr/problem.php?id=6004

In [ ]:
print("'Hello'")

'Hello'

### 5. 큰 따옴표가 포함된 출력문을 연습해보자

"Hello World"

https://codeup.kr/problem.php?id=6005

In [ ]:
print('"Hello World"')

"Hello World"

### 6. 특수문자 출력에 도전하자

"!@#$%^&*()'

https://codeup.kr/problem.php?id=6006

In [ ]:
print("\"!@#$%^&*()'")
print('"!@#$%^&*()\'')

"!@#$%^&*()'
"!@#$%^&*()'

### 7. 윈도우 운영체제의 파일경로를 출력하는 연습을 해보자

"C:\Download\'hello'.py"

https://codeup.kr/problem.php?id=6007

In [ ]:
# \를 안전하게 출력하려면 \\를 사용하는게 좋다
print('"C:\\Download\\\'hello\'.py"')

"C:\Download\'hello'.py"

### 8. python프로그램의 소스코드를 출력해보자

print("Hello\nWorld")
위 코드를 정확히 그대로 출력하시오(공백문자 주의)

https://codeup.kr/problem.php?id=6008

In [ ]:
print('print("Hello\\nWorld")')

print("Hello\nWorld")

### 9. 문자(character)는 0~9, a~z, A~Z, !,@,#,{,[,<, ...과 같이 길이가 1인 기호라고 할 수 있다. 

변수에 문자 1개를 저장한 후 변수에 저장되어 있는 문자를 그대로 출력해보자

예시)
c = input()
print(c)
와 같은 형태로 가능하다

https://codeup.kr/problem.php?id=6009
___
참고)

input()을 사용하면 키보드로 입력한 값을 가져온다.
변수 = input() 를 실행시키면 키보드로 입력한 값을 온쪽의 변수에 저장한다.

**오류*
문제를 보고 변수에 문자를 저장해서 변수를 통해 문자를 프린트하라는 문제로 이해했는데 참고와 예시를 보니 아니었던 모양이다. \
코드에는 내가 이해한 문제와 문제의 의도코드 둘다 작성하였다.

https://www.codingfactory.net/10085

In [ ]:
# 내가 이해한 문제
a = "I want to be good at coding"
print(a)

# 문제의 의도
c = input()
print(c)

I want to be good at coding
I want to be good at coding
I want to be good at coding

### 10. 정수(integer)는 양의 정수, 음의 정수, 0과 같이 소숫점 아래 수가 없는 수라고 할 수 있다.변수에 정수값을 저장한 후 정수로 변환하여 출력해보자

예시)\
n = input()\
n = int(n)\
print(n)와 같은 형태로 가능하다

참고)\
input()을 사용하면 키보드로 입력(inpurt)한 값을 가져온다

https://codeup.kr/problem.php?id=6010

In [ ]:
a = input()
print(int(a))

15
15

### 11. 숫자(0~9)와 소숫점(,)을 사용해 표현한 수를 실수(real number)라고 한다. 변수에 실수값을 저장한 후 변수에 저장되어 있는 값을 그대로 출력해보자

예시)

f = input()\
f = float(f)\
print(f)

https://codeup.kr/problem.php?id=6011

In [ ]:
a = input()
print(float(a))

1.23456
1.23456

### 12. 줄을 바꿔 정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자

예시)

a = input()\
b = input()\
a=int(a)\
b=int(b)\\
print(a)\
print(b)

https://codeup.kr/problem.php?id=6012

In [ ]:
a = int(input())
b = int(input())
print(a)
print(b)

1
2
1
2

### 13.줄을 바꿔 문자(character) 2개를 입력받고, 순서를 바꿔 한 줄씩 출력해보자


https://codeup.kr/problem.php?id=6013

In [ ]:
a=str(input())
b=str(input())
print(b)
print(a)

b
a
a
b

### 14. 실수 1개를 입력받아 줄을 바꿔 3번 출력해보자
예시)

print(f)  #f에 저장되어있는 값을 출력하고 줄을 바꾼다.\
print(f)\
print(f)

https://codeup.kr/problem.php?id=6014

In [ ]:
a = float(input())

print(a)
print(a)
print(a)

0.1
0.1
0.1
0.1

### 15. 공백을 두고 입력된 정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자

예시)

a, b = input().split()\
a=int(a)\
b=int(b)\
print(a)\
print(b)

https://codeup.kr/problem.php?id=6015

In [ ]:
a,b = input().split()
print(int(a))
print(int(b))

1 2
1
2

### 16. 공백을 두고 문자(character) 2개를 입력받아 순서를 바꿔 출력해보자

참고)

print( ) 안에서 쉼표(,)를 찍어 순서대로 나열하면, 그 순서대로 공백을 두고 출력된다.

https://codeup.kr/problem.php?id=6016

In [ ]:
a,b = input().split()
print(b,a)

a b
b a

### 17. 정수(integer), 실수, 문자, 문자열 등 1개만 입력받아 한 줄로 3번 출력해보자.

예시)

s = input()\
print(s, s, s)

참고)

python 언어에서는 문자/정수/실수/문자열 등 특별한 구분이 없이도 원하는 변수에 저장시켜 출력 할 수 있다.
하지만, 저장된 값을 이용해 계산하거나 서로 붙여 연결시키거나 잘라내는 작업을 한다면?
반드시 저장되어있는 값의 종류(문자/정수/실수/문자열 등)를 구분해 주어야 한다.

https://codeup.kr/problem.php?id=6017

In [ ]:
a = input()
print(a,a,a)

computer science
computer science computer science computer science

### 18. 24시간 시:분 형식으로 시간이 입력될 때, 그대로 출력하는 연습을 해보자

예시)

a, b = input().split(':')\
print(a, b, sep=':')

참고)

input().split(':') 를 사용하면 콜론 ':' 기호를 기준으로 자른다.
print(?, ?, sep=':') 를 사용하면 콜론 ':' 기호를 사이에 두고 값을 출력한다.
sep 는 분류기호(seperator)를 의미한다.

https://codeup.kr/problem.php?id=6018

In [ ]:
a = input()
print(str(a))

3:16
3:16

### 19. "연도.월.일"을 입력받아 "일-월-연도" 순서로 바꿔 출력해보자

참고)

y, m, d = input().split('.')
과 같이 변수들을 순서대로 나열하면 구분기호를 기준으로 잘라 순서대로 저장한다.

https://codeup.kr/problem.php?id=6019

In [ ]:
y,m,d = input().split('.')
print(d,m,y, sep='-')

2020.3.4
4-3-2020

### 20. 주민번호를 입력받아 형태를 바꿔 출력해보자

주민번호는 다음과 같이 구성된다. xxxxxx-xxxxxxx 왼쪽 6자리는 생년월일(YYMMDD)이고 오른쪽 7자리는 성별, 출생지역, 확인코드로 구성되어있다. 

ex)110011-0000000 -> 1100110000000

https://codeup.kr/problem.php?id=6020

q.근데 input 값이 str이 아닌데 쭉 이어지는 게 좀 신기하네..

In [ ]:
a,b = input().split('-')
print(a+b)

000907-1121112
0009071121112

### 21.알파벳과 숫자로 이루어진 단어 1개가 입력된다. 입력받은 단어의 각 문자를 한 줄에 한 문자씩 분리해 출력한다

예시)

s = input()\
print(s[0])\
print(s[1])

https://codeup.kr/problem.php?id=6021

In [ ]:
a = input()
for i in a:
  print(i)

Hello
H
e
l
l
o

### 22. 6자리 연월일(YYMMDD)을 입력받아 나누어 출력해보자

참고)

s = input()\
print(s[0:2])\
위 코드를 실행하면 0번째 문자부터 1번째 문자까지 잘라 출력한다.
s[a:b] 라고 하면, s라는 단어에서 a번째 문자부터 b-1번째 문자까지 잘라낸 부분을 의미한다.
다른 자르기 방법도 있다.

https://codeup.kr/problem.php?id=6022

In [ ]:
a = input()
print(a[:2],a[2:4],a[4:])

print('='*20)

a = str(input())
print(a[:2],a[2:4],a[4:])

200304
20 03 04
====================
200304
20 03 04

### 23. 시:분:초 형식으로 시간이 입력될 때 분만 출력해보자. 어떻게 분만 출력해야 할지 주의깊게 생각해야 한다.

https://codeup.kr/problem.php?id=6023

In [ ]:
time = input()
h, m, s = time.split(':')
print(m)

17:23:57
23

### 24. 알파벳 문자와 숫자로 이루어진 단어 2개를 입력받아 순서대로 붙여 출력하는 프로그램을 작성해보자

예시)

w1, w2 = input().split()\
s = w1 + w2\
print(s)

참고)

단어는 문자(character)들로 만든다.
문자들로 구성된 문장을 문자열(string)이라고 부른다.
문자열에는 공백문자(' ')가 포함될 수 있는데, 
문자 1개는 길이가 1인 문자열이라고 할 수 있고, 공백문자(' ')가 없는 문자열은 단어(word)라고 할 수 있다.

일반적인 문장들은 공백으로 구분된 단어들로 만들어지기 때문에,
공백문자로 구분된 문장에서 단어를 잘라내기 위해서는 공백문자(' ')를 기준으로 자르면 된다.
키보드로 입력되는 것들은 기본적으로 문자열로 인식되고, 문자열끼리 더하기(+)를 실행하면,
두 문자열을 합쳐 연결한(concatenate) 결과를 만들어 낸다.

https://codeup.kr/problem.php?id=6024

In [ ]:
two_word = input()
a,b = two_word.split(' ')
print(a+b)

hello world
helloworld

# 복습 & 학습 내용

**1.split() 함수**

문자열.split()의 형태

파라미터
- sep : (기본값:None) 구분자
- maxsplit : (기본값:-1) 분할 횟수\
=> 문자열.split('구분자',분할횟수) or 문자열.split(sep = '구분자',maxsplit = 분할횟수)

## reference

https://blockdmask.tistory.com/469 \
https://it-coco.tistory.com/entry/%EC%B6%9C%EB%A0%A5-print-sep-end